[submodule "sooth_engine/vendor/glfw"]
	path = sooth_engine/vendor/glfw
	url = https://github.com/Carl-Maxwell/glfw
[submodule "my_pixel_engine_fork"]
	path = sooth_engine/vendor/olcPixelGameEngine
	url = https://github.com/Carl-Maxwell/olcPixelGameEngine
