[submodule "sooth_engine/vendor/glfw"]
	path = sooth_engine/vendor/glfw
	url = https://github.com/Carl-Maxwell/glfw
[submodule "sooth_engine/vendor/olcPixelGameEngine"]
	path = sooth_engine/vendor/olcPixelGameEngine
	url = https://github.com/OneLoneCoder/olcPixelGameEngine.git
